body {
    padding-top: 30px;
}


.contact-map {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}

#lien-he {
    color: red;
    font-weight: bold;
}

.contact-container {
    max-width: 1200px;
    margin: 120px auto 60px;
    display: flex;
    gap: 40px;
}

/* LEFT */
.contact-info {
    width: 35%;
    background: #bfe6ff;
    padding: 30px;
    border-radius: 16px;
}

.contact-info img {
    height: 50px;
}

.stars {
    color: gold;
    font-size: 18px;
    margin: 10px 0;
}

.contact-info h3 {
    margin: 20px 0;
    font-weight: bold;
}

.contact-info p {
    margin: 8px 0;
    font-size: 14px;
}

/* RIGHT */
.contact-form {
    width: 65%;
}

.contact-form h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.contact-form span {
    color: #777;
    display: block;
    margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    border: 2px solid #9fd4ff;
    border-radius: 8px;
    font-size: 14px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form button {
    background: #6fc6ff;
    border: none;
    padding: 14px 26px;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #4fb6ff;
}

@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }
}