html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* ⭐ TRÁI – GIỮA – PHẢI */
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}
.nav {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0 auto; /* ⭐ CĂN GIỮA MENU */
}
.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}


h1 {
    display: flex;
    justify-content: center; /* ⭐ căn giữa ngang */
    align-items: center;
    margin: 40px 0;
}


.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.nav-link.active {
    color: red;
    font-weight: 600;
}

.auth {
    font-size: 14px;
}




/* đẩy block bên phải */
.header-right {
    margin-left: auto;   /* ⭐ QUAN TRỌNG */
    display: flex;
    align-items: center;
    gap: 20px;
}

.auth {
    font-size: 14px;
}

.cart {
    position: relative;
    font-size: 22px;
    color: #000;
    text-decoration: none;
}

.cart:hover {
    color: red;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.logo img {
    height: 45px;
}